NODE_ENV=development
PORT=3005
CLIENT_URL=http://localhost:3000
RABBITMQ_URL=amqp://admin:admin@localhost:5673
DATABASE_URL=postgresql://postgres:postgres@localhost:5436/notification_db
JWT_SECRET=your_jwt_secret_here
SERVICE_SECRET=your_service_secret_here
AUTH_SERVICE_URL=http://localhost:3001
